name: Regenerate Rotations

on:
  schedule:
    - cron:  '0 0 1 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Regenerate Rotations
      run: ./.github/regenerate_rotations.sh
